.navbar {
  background-color: rgb(30, 30, 30);
  height: 5rem;
  width: 100vw;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

/* justify-content: center;  */
logo {
  object-fit: cover;
  height: 3rem;
  width: 4rem;
}
.desktopMenuListItem {
  margin: 1rem;
  cursor: pointer;
  /* font-size: 20px; */
}
.desktopMenuListItem:hover {
  color: #eba234;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eba234;
}
