#intro {
  height: calc(100vh- 4rem);
  width: 80vw;
  max-width: 75rem;
  /* margin: 0 auto; */
  overflow: hidden;
  position: relative;
  margin-top: 0;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  margin-top: 6rem;
  margin-bottom: 5rem;
  width: 14vw;
  height: 39vh;
  border-radius: 20px;
  object-fit: cover;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.introContent {
  margin-top: 13rem;
  height: 63vh;
  width: 60vw;
  padding: 1rem;
  font-size: 3vw;

  display: flex;
  flex-direction: column;
}
.hello {
  font-size: 1.5rem;
  font-weight: lighter;
}
.introName {
  /* color: #eba234; */
  color: cyan;
}
.introPara {
  font-size: 1.3rem;
  font-weight: 200;
}

@media screen and (max-width: 480px) {
  .bg {
    margin-right: 0;
    right: 5rem;
    /* width: 15vw;
    height: 35vh; */
    width: 20vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
  }
  .introContent {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
  .introPara {
    font-size: 1rem;
  }
}

@media screen and (max-width: 840px) {
  .bg {
    margin-right: 3.5rem;
    right: 20vw;
    width: 15vw;
    height: 28vh;
    object-fit: cover;
    border-radius: 20px;
  }
  .introContent {
    font-size: 3rem;
  }
  /* .hello {
    font-size: 4vw;
  } */
}
@media screen and (max-width: 1500px) {
  .bg {
    margin-right: 1.5rem;
    /* margin-right: 0; */
    right: 5rem;
    /* width: 15vw;
    height: 35vh; */
    width: 17vw;
    height: 50vh;
    object-fit: cover;
    margin-top: 7rem;
    border-radius: 20px;
  }
  .introContent {
    font-size: 1rem;

    margin-top: 3.5rem;
  }
  .introText {
    font-size: 1.5rem;
  }
}
