#intro {
  height: calc(70vh- 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.bg {
  margin-top: 7rem;
  width: 14vw;
  height: 39vh;
  border-radius: 20px;
  object-fit: cover;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}

.introContent {
  margin-top: 15rem;
  height: 63vh;
  width: 60vw;
  padding: 1rem;
  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
}
.hello {
  font-size: 1.5rem;
  font-weight: lighter;
}
.introName {
  /* color: #eba234; */
  color: cyan;
}
.introPara {
  font-size: 1.3rem;
  font-weight: 200;
}

@media screen and (max-width: 840px) {
  .bg {
    margin-right: 3.5rem;
    right: 20vw;
    width: 35vw;
    height: 39vh;
    border-radius: 20px;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4vw;
  }
}
@media screen and (max-width: 1500px) {
  .bg {
    margin-right: 3.5rem;
    right: 20vw;
    width: 35vw;
    height: 39vh;
    border-radius: 20px;
  }
  .introContent {
    font-size: 9vw;
  }
}
